{% extends 'base.html' %}

{% block titulo_pagina %}
Publicaciones
{% endblock %}

{% block content %}

<h1>Publicaciones</h1>

<!-- BOTÓN PUBLICAR -->
<a href="{{ url_for('publicacion.add') }}">
    <button>Publicar</button>
</a>

<hr>

{% if publicaciones %}

    {% for p in publicaciones %}
        <div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ccc;">

            <!-- TÍTULO -->
            <h3>{{ p.Titulo }}</h3>

            <!-- CONTENIDO -->
            <p>{{ p.contenido }}</p>

            <!-- USUARIO -->
            <p>
                <strong>Usuario:</strong> {{ p.usuario.nameUser }}
            </p>

            <!-- ETIQUETAS -->
            <p>
                <strong>Etiquetas:</strong>

                {% if p.etiquetas %}
                    {% for e in p.etiquetas %}
                        <span>#{{ e.nombre }}</span>
                    {% endfor %}
                {% else %}
                    <span>Sin etiquetas</span>
                {% endif %}

            </p>

        </div>
    {% endfor %}

{% else %}
    <p>No hay publicaciones aún</p>
{% endif %}

{% endblock %}